body {
  /* https://coolors.co/generate and click export -> scss to get the colors to copy and paste below*/
  --color1: #b9ac92;
  --color2: #ffa931;
  --color3: #fecb89;
  --color4: #fbe6d4;
  --color5: hsla(170, 28%, 95%, 1);

  --header-height: 80px;
  --shadow: 0px 10px 20px -12px rgba(0, 0, 0, 0.45);
  --gutter: 30px;
  --footer-height: 25px;

  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--color2);
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: calc(var(--footer-height));
}

section {
  background-color: var(--color5);
  width: 1000px;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
  margin-top: var(--gutter);
  margin-bottom: var(--gutter);
  border: solid 2px var(--color1);
}

header {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color3);
  height: var(--header-height);
  box-shadow: var(--shadow);
}

footer {
  display: flex;
  justify-content: flex-end;
  background-color: var(--color3);
  box-shadow: var(--shadow);
}

h2 {
  padding: 30px;
  font-size: 1.8rem;
  font-weight: bold;
}

.gutter-right {
  margin-right: 20px;
}

.main-logo {
  width: 60%;
  height: 10%;
}

header img {
  height: var(--header-height);
}

content {
  width: 80%;
}

p {
  margin: var(--gutter);
}

footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: var(--footer-height);
  display: flex;
  justify-content: flex-end;
  background-color: var(--color3);
  box-shadow: var(--shadow);
}

.list {
  width: 80%;
  margin: auto;
}

.border {
  border: solid 10px var(--color2);
  border-radius: 8px;
}
